<!DOCTYPE html>
<html>
	<head><!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	</head>
	
	<body>
		<p>craig ferguson: "i love e.e. cummings! all lowercase! like an email address!"</p>
		<h1>text to break</h1>
		<form method="POST" action="/send" id="test">

			<div class="form-group">
			<textarea form="test" name="textToBreak" id="taid" cols="100" wrap="soft"></textarea>
			</div>
			<input class="btn btn-primary" type="submit" value="submit">
		</form>
		<p>e.e. cummings was a poet. but not just any poet. if he could be compared to anything, it would probably be internet spam: lots of line breaks, mis-spellings, made up words and incorrect punctuation. this website aims to imitate him.
		
		a good biography of him: http://www.vanityfair.com/culture/2014/02/e-e-cummings-susan-cheever-biography
		

		<br><br>
		<h3>last few generated:</h3>
		<pre><p>{{ workThingy1|safe }}</p></pre>
	</body>
</html>